extends ../layout.pug

block head
    link(rel="stylesheet" type="text/css" href="/public/css/showPoll.sass")
    script const POLL_INDEX = #{i};
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src="/public/javascripts/showPoll.js")

block content
    h1= poll.title
    if !alreadyVoted
        form(method="POST" type="application/x-www-form-urlencoded")
            each option, i in poll.options
                label #[input(type="radio" name="choice" value=i)]#{option}
            input(type="submit" value="Submit")
    if owned
        form(method="GET" action=`${i}/delete`)
            input.btn.btn-danger(type="submit" value="Delete")
    svg(id="pollResults")
