extends ../layout.pug

block head
    link(rel="stylesheet" type="text/css" href="/public/css/polls/show.sass")
    script "use strict";const POLL_INDEX = #{i};
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src="/public/js/polls/show.js")

block content
    .row
        .col-md-6
            h1= poll.title
            if alreadyVoted
                h3 You already voted.
            else
                if user
                    form#add-container(style="display: none;" method="POST" type="application/x-www-form-urlencoded" action=`/polls/${i}/add_option`)
                        .form-group
                            label(for="new") New Option:
                            input.form-control#new(type="text" name="new" placeholder="new option")
                        button.btn.btn-primary(type="submit") Vote for your new choice!
                form#vote(method="POST" type="application/x-www-form-urlencoded")
                    each option, i in poll.options
                        .checkbox #[label #[input(type="radio" name="choice" value=i default=`#{i === 0}`)] #{option}]
                    if user
                        button.btn.btn-default#add-option(type="add-option") Something else!
                        br
                    button.btn.btn-primary#vote-btn(type="submit") Vote!
            if owned
                form(method="GET" action=`/polls/${i}/delete`)
                    input.btn.btn-danger(type="submit" value="Delete")
            a(href=`https://twitter.com/intent/tweet?hashtags=polls&text=${poll.title} Voting App ${APP_URL + `polls/${i}`}` target="_blank") 
                button.btn.btn-info #[i.fa.fa-twitter]Tweet
        .col-md-6.text-center#results
            h1 Results
            svg#pollResults
