doctype html
html
    head
        title="Voting App"
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/public/css/main.sass")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js"
               integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
               crossorigin="anonymous")
        block head
    body
        if successMessages
            each m in successMessages
                p.success= m
        if errorMessages
            each m in errorMessages
                p.error= m 
        .container
            block content
